@import "../../sass/importMixins.scss";

.pr-page__search {
    width: 100%;
    @include mx-flex();
    @include mx-flex-column();
    gap: 20px;
    h1{
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: 1.7px;
    }
    p{
        font-size: 0.9em;
        color: #8f8f8f;
        font-weight: 600;
    }
}